In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
def is_vowel(letter):
    vowel_re = r'[aeiou]' # write your regex here
    return bool(re.search(vowel_re, letter))

is_vowel('a'), is_vowel('b'), is_vowel('e'), is_vowel('d')

(True, False, True, False)

In [22]:
def is_valid_username(username):
    username_re = r'^[^\d A-Z][^A-Z]{1,31}$' # write your regex here
    return bool(re.search(username_re, username))

usernames = ['aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'codeup', 'Codeup', 'codeup123', '1codeup']
print('is_valid_username | username')
print('----------------- | --------')
for username in usernames:
    print('%17s | %s' % (is_valid_username(username), username))

is_valid_username | username
----------------- | --------
            False | aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
             True | codeup
            False | Codeup
             True | codeup123
            False | 1codeup

In [4]:
phone_numbers = pd.Series([
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
])

phone_number_re = r'^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]\d{4}$' # TODO

pd.DataFrame({
    'phone_number': phone_numbers,
    'regexp_matches': phone_numbers.str.match(phone_number_re)
})

      phone_number  regexp_matches
0   (210) 867 5309            True
1  +1 210.867.5309            True
2         867-5309           False
3     210-867-5309            True

In [ ]:
phone_numbers = pd.Series([
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
])

phone_number_re = re.compile(r'''
^
(?P<calling_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<first_three>\d{3})
\D*?
(?P<last_four>\d{4})
\D*
$
''', re.VERBOSE)

pd.DataFrame({
    'phone_number': phone_numbers,
    'regexp_matches': phone_numbers.str.match(phone_number_re)
})

In [21]:
dates = pd.Series([
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
])
# dates = dates.str.replace('/', " ")
# dates.astype(str)

def date_fixer(dates):
    dates = dates.str.replace('/', " ")
    dates.astype(str)
    dates = list(dates)
    new_dates = []
    for d in dates:
        d = re.sub(r'(\d{2})\s(\d{2})\s(\d{2})', r'\3/\1/\2',  d)
        new_dates.append(d)
    return new_dates
date_fixer(dates)

['19/02/04',
 '19/02/05',
 '19/02/06',
 '19/02/07',
 '19/02/08',
 '19/02/09',
 '19/02/10']

In [23]:
words = pd.read_csv('/usr/share/dict/words', header=None).iloc[:, 0].dropna().str.lower()
words

0                     a
1                     a
2                    aa
3                   aal
4                 aalii
5                   aam
6                  aani
7              aardvark
8              aardwolf
9                 aaron
10              aaronic
11            aaronical
12             aaronite
13            aaronitic
14                 aaru
15                   ab
16                  aba
17              ababdeh
18               ababua
19                 abac
20                abaca
21              abacate
22               abacay
23            abacinate
24          abacination
25            abaciscus
26              abacist
27                aback
28            abactinal
29          abactinally
              ...
235856           zymome
235857        zymometer
235858          zymomin
235859        zymophore
235860       zymophoric
235861    zymophosphate
235862        zymophyte
235863      zymoplastic
235864        zymoscope
235865      zymosimeter
235866          zymosis
235867       zymosterol
235868      zymosthenic
235869      zymotechnic
235870    zymotechnical
235871     zymotechnics
235872       zymotechny
235873          zymotic
235874      zymotically
235875         zymotize
235876        zymotoxic
235877          zymurgy
235878         zyrenian
235879           zyrian
235880           zyryan
235881           zythem
235882           zythia
235883           zythum
235884          zyzomys
235885       zyzzogeton
Name: 0, Length: 235884, dtype: object

In [24]:
(words.str.count(r'[aeiou]') >= 3).sum()

191365

In [25]:
words.str.match(r'.*[aeiou]{3}').sum()

6182

In [26]:
words[words.str.match(r'^[aeiou]{3,}')]

3041            aeacides
3042              aeacus
3043              aeaean
3109       aeolharmonica
3110              aeolia
3111             aeolian
3112              aeolic
3113           aeolicism
3114              aeolid
3115            aeolidae
3116          aeolididae
3117             aeolina
3118             aeoline
3119           aeolipile
3120              aeolis
3121             aeolism
3122             aeolist
3123           aeolistic
3124          aeolodicon
3125           aeolodion
3126      aeolomelodicon
3127       aeolopantalon
3128         aeolotropic
3129        aeolotropism
3130          aeolotropy
3131        aeolsklavier
3132                aeon
3133             aeonial
3134             aeonian
3135             aeonist
               ...
65515         euomphalid
65516         euomphalus
65517             euonym
65518           euonymin
65519          euonymous
65520           euonymus
65521            euonymy
65522         euornithes
65523         euornithic
65524       euorthoptera
65525           euosmite
65526             euouae
90469                iao
130193               oii
131034          ooangium
131045           ooecial
131046           ooecium
131062              ooid
131063            ooidal
133260           ouabain
133261           ouabaio
133262             ouabe
133263        ouachitite
133264           ouakari
133265        ouananiche
133272           ouenite
133278             ouija
133279          ouistiti
210115             uaupe
210173         ueueteotl
Name: 0, Length: 78, dtype: object

In [27]:
words.str.contains(r'[aeiou]{3}').sum()

6182

In [28]:
words.str.contains(r'[^aeiou]{4}').sum()

19241

In [29]:
words[words.str.contains(r'[^aeiou]{8}')].sample(10)

25602       bradysphygmia
148220     platyrhynchous
6467        amblyrhynchus
193541         sulfhydryl
115191    methylglycocoll
196514        symphyllous
25498       brachyphyllum
136611        oxyrhynchus
78245         glycyrrhiza
196706     synchytriaceae
Name: 0, dtype: object

In [30]:
words.str.contains(r'^(.).*\1$').sum()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

11452

In [31]:

words[words.str.contains(r'((.)\2).*\1')]

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

895            accessariness
906               accessless
909            accessoriness
2688          admissibleness
3879             agelessness
3961          aggressiveness
4372             aimlessness
5432          allagophyllous
5482           allegorically
5535               allhallow
5536           allhallowtide
5547              allicholly
5587            allochirally
5589         allochlorophyll
5618           allogenically
5639           allopalladium
5642        allopathetically
5644          allopathically
5648          allopatrically
5685            allotelluric
5690      allothigenetically
5708          allotropically
6380            ambassadress
6794               amissness
13881            artlessness
14419         assailableness
14431               assassin
14432            assassinate
14433          assassination
14434          assassinative
                 ...
230247            wallawalla
230389          wantlessness
230754         watchlessness
230804         waterlessness
230892          wavelessness
230973       waylaidlessness
231282        weightlessness
231294         weirdlessness
231813          whillaballoo
231888        whippersnapper
232297          wifelessness
232396             willfully
232517          windlessness
232530        windowlessness
232611          winglessness
232729          wirelessness
232837          wistlessness
232943           witlessness
233229          woodlessness
233249              woodroof
233288                woohoo
233372          wordlessness
233419          worklessness
233539         worthlessness
233685        wretchlessness
234557           yellowbelly
234559            yellowbill
234834         youthlessness
235076          zeallessness
235683                zoozoo
Name: 0, Length: 792, dtype: object

In [32]:
# can we detect sentences with duplicated words? a word being 3 or more characters long
sentences = pd.Series([
    'Mary had a little lamb, little lamb, little lamb',
    'Hello Bayes! It is a fine morning for regular expressions.',
    'The plural of regex is regrets.',
    'Python is a fine, fine language.'
])
sentences

0     Mary had a little lamb, little lamb, little lamb
1    Hello Bayes! It is a fine morning for regular ...
2                      The plural of regex is regrets.
3                     Python is a fine, fine language.
dtype: object

In [33]:
sentences.str.findall(r'\b\w{3,}\b')

0    [Mary, had, little, lamb, little, lamb, little...
1    [Hello, Bayes, fine, morning, for, regular, ex...
2                        [The, plural, regex, regrets]
3                       [Python, fine, fine, language]
dtype: object

In [34]:
sentences[sentences.str.contains(r'(\b\w{3,}\b).*\1')]

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

0    Mary had a little lamb, little lamb, little lamb
3                    Python is a fine, fine language.
dtype: object