In [27]:
import multiprocessing
import pyspark
import pandas as pd
import numpy as np
np.random.seed(13)
from pyspark.sql.functions import lit
from pydataset import data
import pydataset

In [4]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [5]:
np.random.seed(456)

pandas_dataframe = pd.DataFrame(dict(n=np.arange(20)))

df = spark.createDataFrame(pandas_dataframe)

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [6]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [7]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [8]:
df.show(3)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.6681285004779676|    z|false|
|-0.4982095239010962|    z|false|
| 0.6185758202754369|    x|false|
+-------------------+-----+-----+
only showing top 3 rows

In [9]:
df.show(7)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.6681285004779676|    z|false|
|-0.4982095239010962|    z|false|
| 0.6185758202754369|    x|false|
| 0.5686922478801686|    x|false|
| 1.3505094812759395|    y|false|
|  1.629588532794005|    y|false|
| 0.3019662118054554|    y| true|
+-------------------+-----+-----+
only showing top 7 rows

In [10]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.28103927219939184| null|
| stddev| 1.0777203525074859| null|
|    min|-2.0159713454888015|    x|
|    max| 1.9447023932141112|    z|
+-------+-------------------+-----+

In [11]:
df.select(df.group, df.abool).show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    z|false|
|    x|false|
|    x|false|
|    y|false|
+-----+-----+
only showing top 5 rows

In [12]:
df.select(df.n, df.abool).show(5)

+-------------------+-----+
|                  n|abool|
+-------------------+-----+
|-0.6681285004779676|false|
|-0.4982095239010962|false|
| 0.6185758202754369|false|
| 0.5686922478801686|false|
| 1.3505094812759395|false|
+-------------------+-----+
only showing top 5 rows

In [13]:
df.select(df.group, df.abool.alias("a_boolean_value")).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    z|          false|
|    x|          false|
+-----+---------------+
only showing top 3 rows

In [14]:
df.select(df.group, df.n.alias("a_numeric_value")).show(6)

+-----+-------------------+
|group|    a_numeric_value|
+-----+-------------------+
|    z|-0.6681285004779676|
|    z|-0.4982095239010962|
|    x| 0.6185758202754369|
|    x| 0.5686922478801686|
|    y| 1.3505094812759395|
|    y|  1.629588532794005|
+-----+-------------------+
only showing top 6 rows

In [15]:
df.select(df.n + 4).show(3)

+-----------------+
|          (n + 4)|
+-----------------+
|3.331871499522032|
|3.501790476098904|
|4.618575820275437|
+-----------------+
only showing top 3 rows

In [16]:
df.select(df.n -5 ).show(3)

+------------------+
|           (n - 5)|
+------------------+
|-5.668128500477968|
|-5.498209523901096|
|-4.381424179724563|
+------------------+
only showing top 3 rows

In [17]:
df.select(df.n, df.n * 2 ).show(3)

+-------------------+-------------------+
|                  n|            (n * 2)|
+-------------------+-------------------+
|-0.6681285004779676|-1.3362570009559351|
|-0.4982095239010962|-0.9964190478021924|
| 0.6185758202754369| 1.2371516405508738|
+-------------------+-------------------+
only showing top 3 rows

In [18]:
df = df.select('*',((df.n * 2)*-1).alias('n2'))

In [19]:
df = df.select('*',(df.n ** 2).alias('n3'))

In [20]:
df_t = df.group + df.abool

In [32]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [45]:
df = spark.createDataFrame(pandas_dataframe)
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [50]:
df = spark.sql("SELECT *")
df.show()

++
||
++
||
++

In [47]:
df.createOrReplaceTempView('df')

AttributeError: 'NoneType' object has no attribute 'createOrReplaceTempView'

In [48]:
df

In [28]:
mpg = spark.createDataFrame(pydataset.data('mpg'))
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [29]:
mpg.createOrReplaceTempView('mpg')

In [30]:
my_df = spark.sql('''
SELECT 
    cty AS city,
    hwy AS highway,
    (cty+hwy)/2 AS avg_mileage
FROM mpg
''')

In [31]:
spark.sql('SELECT * FROM df').show()

++
||
++
||
++

In [51]:

from pyspark.sql.functions import concat,col, lit
from pyspark.sql.functions import min, max, mean

In [52]:

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [53]:
df = spark.createDataFrame(pandas_dataframe)

In [54]:

df.select(min('n')).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

In [55]:
df.select(max('n')).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

In [56]:
df.select(mean('n')).show()

+-------------------+
|             avg(n)|
+-------------------+
|0.36640264498852165|
+-------------------+

In [57]:
df.select(concat(lit('Group: '),col('group'))).show()

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: x|
+----------------------+

In [58]:
df.select(concat(col('group'),lit(': '),col('n'))).show()

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
|x: 0.861211374169...|
|z: 1.478685737435...|
|y: -1.04537713053...|
|x: -0.78898902495...|
|y: -1.26160594531...|
|y: 0.562846785281...|
|y: -0.24332625188...|
|y: 0.913740704859...|
|x: 0.317350922736...|
|z: 0.127303280206...|
|y: 2.150382967381...|
|x: 0.606288656896...|
|x: -0.02677164998...|
+--------------------+

In [59]:
df = spark.createDataFrame(pandas_dataframe)

In [60]:
df.createOrReplaceTempView('my_df')

In [61]:
spark.sql('''
SELECT *
FROM my_df
''').show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [62]:
spark.sql('''
SELECT n, abool
FROM my_df
''').show(7)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
|  0.5323378882945463|false|
|  1.3501878997225267|false|
+--------------------+-----+
only showing top 7 rows

In [63]:
spark.sql('''
    SELECT n, group as g
    FROM my_df
''').show(7)

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  -0.712390662050588|  z|
|   0.753766378659703|  x|
|-0.04450307833805...|  z|
| 0.45181233874578974|  y|
|  1.3451017084510097|  z|
|  0.5323378882945463|  y|
|  1.3501878997225267|  z|
+--------------------+---+
only showing top 7 rows

In [64]:
spark.sql('''
    SELECT n, (n/2) AS n2, (n-1) AS n3
    from my_df
''').show(7)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|  -0.356195331025294|  -1.712390662050588|
|   0.753766378659703|  0.3768831893298515|-0.24623362134029703|
|-0.04450307833805...|-0.02225153916902...| -1.0445030783380536|
| 0.45181233874578974| 0.22590616937289487| -0.5481876612542103|
|  1.3451017084510097|  0.6725508542255049| 0.34510170845100974|
|  0.5323378882945463| 0.26616894414727316| -0.4676621117054537|
|  1.3501878997225267|  0.6750939498612634| 0.35018789972252673|
+--------------------+--------------------+--------------------+
only showing top 7 rows

In [65]:
df = spark.createDataFrame(pandas_dataframe)

In [66]:

df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [67]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [68]:
df.select(df.abool.cast('int')).show(7)

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
+-----+
only showing top 7 rows

In [69]:
int_group = df.group.cast('int')
int_group
df.select(int_group).show(7)

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+
only showing top 7 rows

In [70]:
int_n = df.n.cast('int')
int_n
df.select(int_n).show(7)

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
+---+
only showing top 7 rows

In [71]:

str_abool = df.abool.cast('string')
str_abool

df.select(str_abool).show(7)

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
+-----+
only showing top 7 rows

In [72]:
df = spark.createDataFrame(pandas_dataframe)

In [73]:
from pyspark.sql.functions import min,max,avg,sum,concat, lit

In [74]:
df.select(max(df.n)).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

In [75]:
df.select(min('n')).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

In [76]:
df.select(avg('n')).show()

+-------------------+
|             avg(n)|
+-------------------+
|0.36640264498852165|
+-------------------+

In [77]:
df.select(concat(lit('Group: '), 'group')).show(7)

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: y|
|              Group: z|
+----------------------+
only showing top 7 rows

In [78]:
new_col = concat(df.group, lit(': '), df.n).alias('group_n')
df.select(new_col).show(7)

+--------------------+
|             group_n|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
+--------------------+
only showing top 7 rows

In [79]:
df = spark.createDataFrame(pandas_dataframe)

In [80]:
df.filter(df.group == 'y').show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
+--------------------+-----+-----+
only showing top 7 rows

In [81]:
df.filter(~ df.abool).show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [82]:
df.filter(df.n > 0).show(7)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
| 0.8612113741693206|    x|false|
| 1.4786857374358966|    z| true|
+-------------------+-----+-----+
only showing top 7 rows

In [83]:
df.filter(df.abool & (df.group == 'z')).show(7)

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+

In [85]:
df.filter(df.abool | (df.group == 'z')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [86]:
df.filter(~df.abool & (df.n < 1)).show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
+--------------------+-----+-----+
only showing top 7 rows

In [87]:
from pyspark.sql.functions import when

In [88]:
df = spark.createDataFrame(pandas_dataframe)

In [89]:
df.select(df.abool, when(df.abool, 'It is True').otherwise('It is False').alias('when')).show(7)

+-----+-----------+
|abool|       when|
+-----+-----------+
|false|It is False|
|false|It is False|
|false|It is False|
|false|It is False|
|false|It is False|
|false|It is False|
|false|It is False|
+-----+-----------+
only showing top 7 rows

In [90]:
df.select(df.n, when(df.n < 0, 0).otherwise(df.n).alias('no_negs')).show()

+--------------------+-------------------+
|                   n|            no_negs|
+--------------------+-------------------+
|  -0.712390662050588|                0.0|
|   0.753766378659703|  0.753766378659703|
|-0.04450307833805...|                0.0|
| 0.45181233874578974|0.45181233874578974|
|  1.3451017084510097| 1.3451017084510097|
|  0.5323378882945463| 0.5323378882945463|
|  1.3501878997225267| 1.3501878997225267|
|  0.8612113741693206| 0.8612113741693206|
|  1.4786857374358966| 1.4786857374358966|
| -1.0453771305385342|                0.0|
| -0.7889890249515489|                0.0|
|  -1.261605945319069|                0.0|
|  0.5628467852810314| 0.5628467852810314|
|-0.24332625188556253|                0.0|
|  0.9137407048596775| 0.9137407048596775|
| 0.31735092273633597|0.31735092273633597|
| 0.12730328020698067|0.12730328020698067|
|  2.1503829673811126| 2.1503829673811126|
|  0.6062886568962988| 0.6062886568962988|
|-0.02677164998644...|                0.0|
+--------------------+-------------------+

In [91]:
df = spark.createDataFrame(pandas_dataframe)

In [92]:
df.sort('n').show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
|-0.04450307833805...|    z|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+
only showing top 7 rows

In [93]:
df.sort('group').show(7), df.sort('group', ascending = False).show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|   0.753766378659703|    x|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
| 0.45181233874578974|    y|false|
+--------------------+-----+-----+
only showing top 7 rows

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.04450307833805...|    z|false|
|  1.4786857374358966|    z| true|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  -0.712390662050588|    z|false|
| 0.12730328020698067|    z|false|
|-0.24332625188556253|    y| true|
+--------------------+-----+-----+
only showing top 7 rows

(None, None)

In [94]:
df.sort('group','n').show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
+--------------------+-----+-----+
only showing top 7 rows

In [95]:
df.sort('abool','group','n').show(7), df.sort('abool','n','group').show(7)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.7889890249515489|    x|false|
|0.31735092273633597|    x|false|
| 0.6062886568962988|    x|false|
|  0.753766378659703|    x|false|
| 0.8612113741693206|    x|false|
| -1.261605945319069|    y|false|
|0.45181233874578974|    y|false|
+-------------------+-----+-----+
only showing top 7 rows

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
+--------------------+-----+-----+
only showing top 7 rows

(None, None)

In [96]:
df.groupBy('group').agg(avg('n')).show()

+-----+-------------------+
|group|             avg(n)|
+-----+-------------------+
|    x|0.28714277625394485|
|    z|  0.590730814237962|
|    y| 0.2576014196023739|
+-----+-------------------+

In [97]:
df.groupBy('group').agg(max('n')).show()

+-----+------------------+
|group|            max(n)|
+-----+------------------+
|    x|0.8612113741693206|
|    z|1.4786857374358966|
|    y|2.1503829673811126|
+-----+------------------+

In [98]:
df.groupBy('abool').agg(min('n')).show()

+-----+-------------------+
|abool|             min(n)|
+-----+-------------------+
| true|-1.0453771305385342|
|false| -1.261605945319069|
+-----+-------------------+