In [1]:
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import DBSCAN

import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import seaborn as sns

from acquire import get_the_data
from prepare import prepare_the_data

In [2]:
df = prepare_the_data(get_the_data())

df['times_accessed'] = 1

df = df[['times_accessed']].resample('d').sum()

df.head()

            times_accessed
timestamp
2018-01-26             572
2018-01-27             230
2018-01-28             170
2018-01-29             830
2018-01-30             652